.UserDetails {
	margin: 2em auto 0;
	width: 1200px;
	max-width: 100%;
}

.UserDetails-CompanyName {
	font-weight: bold;
	font-size: 2.5em;
	text-align: center;
}

.UserDetails-CatchPhrase {
	margin: 1em auto;
	font-size: 1.5em;
	font-style: italic;
	text-align: center;
}

.UserDetails-Tags {
	margin: 0.5em 0;
}

.UserDetails-Tag {
	border-radius: 5px;
	border: 1px solid yellow;
	background: rgb(255,255,195);
	padding: 0.1em 0.5em;
	margin: 1em 0.25em;
}

.UserDetails-Name,
.UserDetails-Address,
.UserDetails-Contact,
.UserDetails-GoBack {
	margin-top: 1em;
}
